server {
       listen {{ thisport }};
       listen [::]:{{ thisport }};

       server_name {{ domain }};
       root /srv/www/{{ domain }};
       index index.html;

       location / {
       		try_files $uri $uri/ =404;
	}	 
}